@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
h2{
	color: #00214d;
}
header,.gallery1,.gallery2,.gallery3{
	width: 100%;
	display: flex;
	flex-direction: column;
}
header{
	width: 100%;
	background-image: url(../img/city.jpg);
    background-size: cover;
    background-position: top;
}header article{
	width: 100%;
	background: rgb(0, 0, 0, .5);
}header article h2{
	color: #ffeb3b;
}
:is(.nav-wrapper ul,.sidenav) li #actividades-ul{
	display: none;
	position: absolute;
	background: rgb(15 27 88);
	padding: 0;
	width: 150px;
    margin-left: -20px;
}:is(.nav-wrapper ul,.sidenav) li #actividades-ul li{
	width: 100%;
	padding: 2px 0;
	margin: 0;
}
:is(.nav-wrapper ul,.sidenav) li#actividades-li:hover>#actividades-ul{
	display: block;
}

.wrapper{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper article
{
	width: 100%;
	display: flex;
}

.card-food{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.wrapper article{
	flex-direction: column;
}

.wrapper .card-food{
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

.wrapper .card-food .card{
	display: flex;
    flex: 1 0 30%;
    /* max-width: 520px; */
    min-width: 30%;
    max-width: 40%;
    margin: 0 4px 20px 4px;
    flex-direction: column;
    border: 1px solid #e3e1e1;
    border-radius: 10px 10px 0 0;
    align-self: normal;
    z-index: 1;
}.wrapper .card-food .card:hover{
	transition: 400ms ease-in-out;
	transform: scale(1.1);
	z-index: 2;
}
.wrapper .card-food .card .head-card{
	height: 200px;
}
.wrapper .card-food .card img{
	width: 100%;
	border-radius: 10px 10px 0 0;
	height: 100%;
    object-fit: cover;
}.wrapper .card-food .card > .body-card,.footer-card {
	padding: 5px;
}
.wrapper .card-food .card .footer-card{
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	width: 100%;
	margin-top: auto;
}
.wrapper .card-food .card .footer-card div:nth-child(1){
	flex: 1 1 100%;
	max-width: 100%;
	display: flex;
}
/*
.wrapper .card-food .card .footer-card .icon-box{
	display: flex;
	flex: 1 1 35%;
	max-width: 35%;
	align-items: center;
}
.wrapper .card-food .card .footer-card .price-box{
	display: flex;
	flex: 1 1 15%;
	max-width: 15%;
	align-items: center;
}
.wrapper .card-food .card .footer-card div i,span{
	margin-bottom: 10px;
	font-size: 1em;
}
.wrapper .card-food .card .footer-card div:nth-child(2) span{
	text-decoration: line-through;
}
.wrapper .card-food .card .footer-card div:nth-child(3) i{
	color: #cecd11 !important;
}*/

@media all and (max-width: 600px){
	.sidenav li #actividades-ul{
		display: none;
		position: inherit !important;
		background: transparent !important;
		padding: 0;
		margin: 0;
		margin-top: 17px;
		width: inherit !important;
    	margin-left: inherit !important;
	}.sidenav li #actividades-ul li{
		padding: 0 !important;
		width: 100%;
		text-align: right;
	}.sidenav li #actividades-ul li a{
		width: 100%;
		color: inherit;
	}
	.wrapper article{
		text-align: justify;
	}
	.wrapper .card-food{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
	}.wrapper .card-food .card{
		flex: 1 1 95%;
		max-width: 95%;
		align-self: initial;
		z-index: inherit;
	}.wrapper .card-food .card:hover{
		transform: none;
		z-index: inherit;
	}
}