@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
:is(.nav-wrapper ul,.sidenav) li #actividades-ul{
	display: none;
	position: absolute;
	background: rgb(15 27 88);
	padding: 0;
	width: 150px;
    margin-left: -20px;
}:is(.nav-wrapper ul,.sidenav) li #actividades-ul li{
	width: 100%;
	padding: 2px 0;
	margin: 0;
}
:is(.nav-wrapper ul,.sidenav) li#actividades-li:hover>#actividades-ul{
	display: block;
}

/* Región header */
header{
	width: 100%;
	background-image: url(../img/city.jpg);
    background-size: cover;
    background-position: top;
}header article{
	width: 100%;
	background: rgb(0, 0, 0, .7);
}header article h2{
	color: #ffeb3b;
}
h2{
	font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    line-height: 1.143;
    font-size: 2.625em !important;
    margin-bottom: 20px;
    color: #00214d;
}
.wrapper{
	width: 100%;
	display: flex;
	background: #ffffff;
}

.wrapper .articles{
	display: flex;
	width: 100%;
}.wrapper .articles article{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}.wrapper .articles article .info,.imagen{
	flex: 1 1 50%;
	max-width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 15px;
	padding-right: 15px;
}
#wrapper-one{
	align-items: center;
	text-align: center;
}
.wrapper .articles article img{
	width: 100%;
}


.main #wrapper-two{
	background: #f2f4f6;
}

#wrapper-two img{
	box-shadow: -46px -22px 1px -1px rgb(240,210,60);
    -webkit-box-shadow: -46px -22px 1px -1px rgb(240,210,60);
    -moz-box-shadow: -46px -22px 1px -1px rgba(214,109,23,0.96);
}

#wrapper-three img{
	box-shadow: 46px -22px 1px -1px rgb(240,210,60);
    -webkit-box-shadow: 46px -22px 1px -1px rgb(240,210,60);
    -moz-box-shadow: 46px -22px 1px -1px rgba(214,109,23,0.96);
}


@media all and (max-width: 600px){
	.sidenav li #actividades-ul{
		display: none;
		position: inherit !important;
		background: transparent !important;
		padding: 0;
		margin: 0;
		margin-top: 17px;
		width: inherit !important;
    	margin-left: inherit !important;
	}.sidenav li #actividades-ul li{
		padding: 0 !important;
		width: 100%;
		text-align: right;
	}.sidenav li #actividades-ul li a{
		width: 100%;
		color: inherit;
	}

	.wrapper .articles article{
		flex-direction: column;
		flex-wrap: nowrap;
	}.wrapper .articles article .info,.imagen{
		flex: 1 1 100%;
		max-width: 100%;
		padding: inherit;
	}

	.wrapper .articles article .imagen{
		order: 1;
	}.wrapper .articles article .imagen img{
		box-shadow: none !important;
		border-top: 4px solid #ffeb3b;
    	border-right: 2px solid #ffeb3b;
    	border-left: 2px solid #ffeb3b;
	}

	.wrapper .articles article .info{
		order: 2;
		text-align: justify;
	}
}